version: "3.9"

services:
  db:
    image: postgres:16
    container_name: order_platform_db
    restart: always
    environment:
      POSTGRES_DB: order_platform
      POSTGRES_USER: order_user
      POSTGRES_PASSWORD: order_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
